[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest.git
[submodule "vendor/ImGuiFileDialog"]
	path = vendor/ImGuiFileDialog
	url = https://github.com/tronkko/dirent
